{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^vue$",
    "^@vue/(.*)$",
    "^vueuse/(.*)$",
    "^@/composables/(.*)$",
    "^@/stores/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/utils/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "vueIndentScriptAndStyle": true,
        "printWidth": 280,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "printWidth": 380,
        "singleAttributePerLine": false
      }
    }
  ]
}
